# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.log

# =========================
# Hydra
# =========================
.hydra/

# =========================
# Training logs & outputs
# =========================
log/
lightning_logs/
outputs/

# =========================
# Saved models / checkpoints
# =========================
saved_model/**
*.ckpt

# =========================
# Dataset & cache
# =========================
data/**
*.npz
*.npy

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Local configs
# =========================
.env
*.local.yaml
